*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.success-message{
    width: 300px;
    height: 50px;
    background:#e4dddd ;
    color: #016817;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.login-text-script{
    width:600px;
    height:auto;
    position:absolute;
    top:25%;
    right: 5%;
    /* background: linear-gradient(136deg, #0e49c7, rgb(79, 14, 199)); */

}
@keyframes modalApparition {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.login-text-script .text-user-login{
    font-size:3rem;
    text-transform: uppercase;
    font-family: 'poppins';
    color: #0e49c7;
    animation: modalApparition 0.8s ease-out;
}
.login-parent{
    width: 100%;
    height: 100vh;
    background: url(/public/imgs/bground.png);
    /* background: linear-gradient(230deg, rgb(1, 5, 14), #0e49c7); */
    padding: 20px;
    background-repeat:no-repeat;
    position:relative;
    overflow-x:hidden;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    filter: brightness(120%) saturate(150%);
}
.blur-login{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .8s ease;
    z-index: -1;
    filter: blur('10px');
    background: #0f0f0f2d;
}
.login-parent .blur-login-content{
    width:40%;
    height:70vh;
    background: transparent;
    border-radius: 15px;
    position:absolute;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
     border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 8px 32px rgba(0,0,0,0.25);
}
.login-parent #user-login{
    width: 40%;
    height: 70vh;
    background:transparent;
    border-radius: 12px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}
.login-parent #user-login .user-login-title{
    text-align: center;
    font-size: 2em;
    color: #0f9cfa9d;
    margin-bottom: 50px;
    font-family:'roboto';
}
.login-parent #user-login .user-login-ground{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-parent #user-login .user-login-ground .login-group{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

}
.login-parent #user-login .user-login-ground .login-lab{
    font-size: 16px;
    color: #ffffff;
    font-family: 'roboto';
    font-weight: 600;
    margin-bottom: 8px;
    
}
.login-parent #user-login .user-login-ground #login-input{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    outline: none;
    border:none;
    background: #00000062;
    font-size: 16px;
    margin-bottom: 18px;
    padding-left: 10px;
    color: #ffffffbe;
}
.login-parent #user-login .user-login-ground #login-input::placeholder{
    color: #0a577a;
}
.login-parent #user-login .user-login-ground .login-validate{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:35px 0;
}
.login-parent #user-login .user-login-ground .login-validate #login-validate-btn{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #016817;
    color: #e4dddd;
    font-weight: 600;
    cursor: pointer;
    transition: all .8s ease-out;
    margin-bottom: 20px;
}
.login-parent #user-login .user-login-ground .login-validate #login-validate-btn:hover{
    background: transparent;
    color: #069c26;
    border: 1px solid #069c26;
}
.login-parent #user-login .user-login-ground .login-validate .register-user{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #c78046;
    color: #e4dddd;
    font-weight: 600;
    cursor: pointer;
    transition: all .8s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.login-parent #user-login .user-login-ground .login-validate .register-user:hover{
    background: transparent;
    color: #c78046;
    border:1px solid #c78046;
}
.login-parent #user-form-register{
    width: 100%;
    height: auto;
    background: #0000009f;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 30px 15px  #1195b69c;
}
.login-parent #user-form-register .user-login-title{
    text-align: center;
    font-size: 2em;
    color: #0f9cfae1;
    margin-bottom: 50px;
    font-family:'roboto';
}
.login-parent #user-form-register .register-parent-group{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.login-parent #user-form-register .register-parent-group .register-parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.login-parent #user-form-register .register-parent-group .register-lab{
    font-size: 16px;
    color: #0770a0;
    font-family: 'roboto';
    font-weight: 600;
    margin-bottom: 8px;
}
.login-parent #user-form-register .register-parent-group #register-input, #register-input-naissance, #register-input-password, #register-input-confirmation, #emp-input-cont-embauche{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    outline: none;
    border:none;
    background: #00000062;
    font-size: 18px;
    margin-bottom: 18px;
    padding-left: 10px;
    color: #ffffffbe;
}
.login-parent #user-form-register .register-parent-group #register-input #option-register{
    background: #00000062;
    color: #ffffffbe;
}
.login-parent #user-form-register .register-parent-group .register-sexe-group{
    display: flex;
    align-items: center;
    gap: 15px;
}
.login-parent #user-form-register .register-parent-group .register-sexe-lab{
    color: #0770a0;
}
.login-parent #user-form-register .register-parent-group .register-sexe-group input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: #0770a0;
}
.login-parent #user-form-register .register-parent-group .register-validate{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-parent #user-form-register .register-parent-group .register-validate #register-validate-btn{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #0770a0;
    color: #e4dddd;
    font-weight: 600;
    cursor: pointer;
    transition: all .8s ease-out;
    margin-bottom: 20px;
}
.login-parent #user-form-register .register-parent-group .register-validate #register-validate-btn:hover{
    background: #15a1e2;
}
.login-parent #user-form-register .register-parent-group .register-validate .register-user{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #2f3131;
    color: #e4dddd;
    font-weight: 600;
    cursor: pointer;
    transition: all .8s ease;
    text-align: center;
    text-decoration: none;
}
.login-parent #user-form-register .register-parent-group .register-validate .register-user:hover{
    background: #575858;
}
